@use "@styles/abstracts"as a;

.services {
  @include a.flex-center;
  flex-direction: column;

  .services__content {
    @include a.flex-center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 18rem 0rem;
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .services {
    .services__content {
      padding: 2rem 10rem 0rem;
    }
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .services {
    .services__content {
      padding: 2rem 1rem 0rem;
      gap: 1.5rem;
    }
  }
}

// Media Query for mobile devices (less than 480px)
@include a.media-query(small) {
  .services {
    .services__content {
      padding: 1rem 0rem;
    }
  }
}