$primary-clr: hsl(234, 35%, 37%);
$primary-clr-1: hsl(196, 12%, 18%);
$primary-clr-2: hsl(240, 5%, 27%);
$primary-clr-3: hsl(269, 94%, 69%);
$primary-clr-4: hsl(234, 100%, 96%);

$secondary-clr: hsl(240, 100%, 99%);

$bg-gradient: linear-gradient(89.97deg,
  hsl(269, 94%, 69%) 1.84%,
  hsl(21, 87%, 68%) 102.67%),
hsl(234, 35%, 37%);