$primary-clr: #3E4581;
$primary-clr-1: #293134;
$primary-clr-2: #414148;
$primary-clr-3: #ad66fa;
$primary-clr-4: #eceeff;

$secondary-clr: #FCFCFF;

$bg-gradient: linear-gradient(89.97deg,
  #ae67fa 1.84%,
  #f49867 102.67%),
#3e4581;