// Font Family
$ff-primary: 'Rubik',
sans-serif;

// Font Size
$fs-xsmall: 0.7rem;
$fs-small: 0.9rem;
$fs-base: 1rem;
$fs-medium: 1.5rem;
$fs-large: 2rem;
$fs-xlarge: 3rem;
$fs-xxlarge: 4rem;

// Font Weight
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 600;
$fw-xbold: 700;
$fw-bolder: 800;
$fw-xbolder: 900;