@use "sass:map";
@use "../abstracts/fonts"as *;
@use "../abstracts/colors"as *;
@use "../abstracts/breakpoints"as *;

// Flex with flex-direction
@mixin flex-direction($direction) {
  display: flex;
  flex-direction: $direction;
}

// Flex with both vertical and horizontal centering
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Header Mixin
@mixin header {
  font-size: $fs-xxlarge;
  background: $bg-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

// Subheader Mixin
@mixin subheader {
  line-height: 1.15;
  font-weight: $fw-medium;
}

// Card Mixin
@mixin card {
  background-color: $primary-clr-4;
  width: 31rem;
  border-radius: 1rem;
  padding: 3rem;
  background-image: url("../../../assets/images/union.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Card Content
@mixin card-content {
  background-color: $secondary-clr;
  border-radius: 1rem;
  width: 20rem;
  display: flex;
}

// Card Profile Image
@mixin card-profile-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 2px solid $primary-clr-3;
}

// Media Query
@mixin media-query($key) {
  $size: map.get($breakpoints, $key);

  @media screen and (max-width: $size) {
    @content;
  }
}