@use "@styles/abstracts"as a;

.left-col {
  @include a.flex-direction(column);
  flex: 0.8;
  gap: 2rem;
  padding-left: 1.5rem;

  &__header {
    @include a.header;
    max-width: 80%;
  }

  &__subheader {
    @include a.subheader;
    max-width: 80%;
  }

  &__btn {
    display: inline-flex;
    max-width: fit-content;
    gap: 1rem;

    .btn {
      padding: 0.75rem 1.75rem;
      font-weight: a.$fw-medium;
      font-size: a.$fs-small;
      border-radius: 0.3rem;
      transition: a.$tr-primary;
      cursor: pointer;
    }

    .btn--primary {
      color: a.$primary-clr-4;
      background: a.$bg-gradient;
      border: 1px solid transparent;

      &:hover {
        filter: brightness(110%) contrast(1.1);
      }
    }

    .btn--secondary {
      color: a.$secondary-clr-1;
      border: 1px solid a.$primary-clr-3;
      background: a.$bg-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:hover {
        border: 1px solid a.$primary-clr;
      }
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .left-col {
    flex: 0;
    padding-left: 0rem;
    text-align: center;

    &__header {
      text-align: center;
      max-width: 100%;
      margin: 0 auto;
    }

    &__subheader {
      text-align: center;
      max-width: 85%;
      margin: 0 auto;
    }

    .left-col__btn {
      margin: 0 auto;
    }
  }
}

// Media Query for mobile devices (less than 480px)
@include a.media-query(small) {
  .left-col {

    &__header {
      font-size: a.$fs-xlarge;
    }

    &__btn {
      .btn {
        padding: 0.5rem 1rem;
      }
    }
  }
}