@use "@styles/abstracts"as a;

.left-col {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1.5rem;

  &__header {
    @include a.header;
    max-width: 80%;
  }

  &__subheader {
    @include a.subheader;
    max-width: 80%;
  }

  &__btn {
    display: inline-flex;
    gap: 1rem;
    max-width: fit-content;

    .btn {
      padding: 0.75rem 1.75rem;
      border: 1px solid transparent;
      border-radius: 0.3rem;
      font-weight: a.$fw-medium;
      font-size: a.$fs-small;
      cursor: pointer;
    }

    .btn__primary {
      color: a.$secondary-clr;
      background: a.$bg-gradient;
      transition: a.$tr-primary;

      &:hover {
        background: a.$bg-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid hsla(269, 94%, 69%, 1);
      }
    }

    .btn__secondary {
      border: 1px solid hsla(269, 94%, 69%, 1);
      transition: a.$tr-primary;
      color: a.$secondary-clr-1;
      background: transparent;

      &:hover {
        background: a.$bg-gradient;
        color: a.$secondary-clr;
      }
    }
  }
}