@use "@styles/abstracts"as a;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;

  .nav__items {
    display: flex;
    gap: 3rem;
    font-weight: a.$fw-medium;
  }

  .nav__login-btn {
    background: a.$bg-gradient;
    border: none;
    border-radius: a.$br-secondary;
    color: a.$secondary-clr;
    padding: 0.75rem 1.5rem;
    font-size: a.$fs-base;
    font-weight: a.$fw-bold;
    cursor: pointer;
  }
}