@use "abstracts"as a;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core anchor tag defaults */
a {
  text-decoration: none;
  color: inherit;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

// Base Styling
html,
body {
  font-family: a.$ff-primary;
  font-size: a.$fs-base;
  font-weight: a.$fw-normal;
  line-height: 1.15;
  color: a.$primary-clr;
  background-color: a.$secondary-clr;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}