@use "@styles/abstracts"as a;

.emojis {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: a.$bs-primary;
  width: fit-content;
  position: absolute;
  top: 23rem;
  left: 21rem;

  .img {
    width: 5rem;
    height: 5rem;
  }
}

//********MEDIA QUERY********

// Media Query for mobile devices (less than 480px)
@include a.media-query(small) {
  .emojis {
    top: 47rem;
    left: 50%;
    transform: translateX(-50%);
  }
}