@use "@styles/abstracts"as a;

.right-col {
  flex: 1;
  position: relative;
  top: -2.5rem;
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .right-col {
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .right-col {
    width: 100%;
  }
}