@use "@styles/abstracts"as a;

.media {
  position: absolute;
  top: 1rem;
  left: 20rem;
  height: 15rem;
  width: 17rem;
  box-shadow: a.$bs-primary;
  padding: 1.5rem;
  border-radius: 0.5rem;

  .media__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .media__header {
      font-size: a.$fs-small;
      font-weight: a.$fw-medium;
    }
  }

  .media__body {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .media__circle-top {
      border: 1.5rem solid a.$primary-clr-3;
      border-radius: 50%;
      height: 9rem;
      width: 9rem;
      position: absolute;
      z-index: 1;
    }

    .media__circle-btm {
      border: 0.75rem solid a.$primary-clr-2;
      border-radius: 50%;
      height: 9rem;
      width: 9rem;
      position: absolute;
      z-index: 2;
    }

    .media__tooltip {
      background-color: a.$primary-clr-1;
      position: relative;
      left: -2rem;
      z-index: 3;
      padding: 0.5rem;
      width: 65%;
      border-radius: 0.3rem;

      .media__triangle {
        position: absolute;
        top: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-top: 0.5rem solid a.$primary-clr-1;
      }

      .media__tooltip-text {
        font-size: a.$fs-xsmall;
        color: a.$secondary-clr;
      }
    }
  }
}