@use "@styles/abstracts"as a;

.media {
  position: absolute;
  top: 1rem;
  left: 20rem;
  height: 15rem;
  width: 17rem;
  box-shadow: a.$bs-primary;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;

  .media__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .media__header {
      font-size: a.$fs-small;
      font-weight: a.$fw-medium;
    }
  }

  .media__body {
    position: relative;

    .media__pie {
      .media__pie-chart {
        height: 14rem;
      }
    }

    .media__tooltip {
      background-color: a.$primary-clr-1;
      position: relative;
      top: -10rem;
      left: -1rem;
      z-index: 1;
      padding: 0.5rem;
      border-radius: 0.3rem;
      width: 8.5rem;

      .media__triangle {
        position: absolute;
        top: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-top: 0.5rem solid a.$primary-clr-1;
      }

      .media__tooltip-text {
        font-size: a.$fs-xsmall;
        color: a.$secondary-clr;
      }
    }
  }
}